.vscode
.nvmrc
README.md
.editorconfig
.dockerignore
compose.yml
dist
tmp
temp
.git*
Dockerfile
coverage
.husky
.env.testing.local
.env.testing.docker
.env
.travis.yml
scripts
mlruns-default-experiment
vitest.config.ts
docs
commitlint.config.ts
CONTRIBUTING.md
CODE_OF_CONDUCT.md
CHANGELOG.md
compose-before.yml

## https://yarnpkg.com/getting-started/qa#which-files-should-be-gitignored
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions
node_modules