# yarn
.yarn/*
!.yarn/patches
!.yarn/plugins
!.yarn/releases
!.yarn/sdks
!.yarn/versions

#!.yarn/cache
.pnp.*

# artifacts
dist
tmp
temp
coverage

# app
.env
node_modules
.editorconfig

#infra
.env.docker
scripts/open_telemetry_collector/otelcol
